.json-item {
    display: flex;
}

.json-key {
    font-weight: bold;
}

.json-value {
    margin-left: 5px;
}

.toggle {
    margin-left: 5px;
    cursor: pointer;
}

.json-object {
    display: none;
}